<!DOCTYPE HTML>
<html>
<head>
    <title>No touch Onboarding</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>No touch onboarding request page</h1>
<form action="#" th:action="@{/requestJenkins}" th:object="${request}" method="post">
    <p>Org name: <input type="text" th:field="*{org}" placeholder="Github organisation name"/></p>
    <p>CI Name: <input type="text" th:field="*{ciname}" placeholder="Desird CI name"/></p>
    <p>Github token: <input type="text" th:field="*{gitToken}" placeholder="Github access token" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>